header {
  background: $black;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;

  img {
    width: 5rem;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
  }
  ul {
    text-align: center;

    li {
      list-style-type: none;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
      padding: 1rem;
      @extend %font-medium;
      transition: padding .3s ease;
      -webkit-transition: padding .3s ease;

      &:last-child a {
        color: $black;
        border-radius: .4rem;
        padding: .2rem 1.3rem;
        background-color: $jaffa;
        transition: background-color .1s ease;
        -webkit-transition: background-color .1s ease;

        &:hover {
          background-color: $bourbon;
          color: $black;
        }
      }

      a {
        color: $jaffa;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: .15rem;
        transition: color .1s ease;
        -webkit-transition: color .1s ease;

        &:hover {
          color: $white;
        }
      }
    }
  }
  &.scroll {
    ul {
      li {
        padding: .5rem 1rem;
      }
    }
    img {
      width: 4rem;
    }
  }
} 
