header {
  background: $black;
  margin: 0 auto;

  img {
    width: 5rem;
  }
  ul {
    text-align: center;

    li {
      list-style-type: none;
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
      padding: 1rem;
      @extend %font-sbold;

      &:last-child a {
        color: $black;
        border: 1px solid $jaffa;
        border-radius: 1rem;
        padding: .2rem 1.3rem;
        background-color: $jaffa;
      }

      a {
        color: $jaffa;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}