<footer>
  <a href="#"><img src="images/oddmind.png"></a>
  <ul class="footer__nav">
    <li><a href="">home</a></li>
    <li><a href="">about</a></li>
    <li><a href="">works</a></li>
    <li><a href="">blog</a></li>
    <li><a href="">contact</a></li>
    <li><a href="">shop</a></li>
  </ul>

  <div class="footer__socials">
    <ul>
      <li><a href="#" class="fb"><img src="../images/fb.png"></a></li>
      <li><a href="#" class="in"><img src="../images/in.png"></a></li>
      <li><a href="#" class="ln"><img src="../images/li.png"></a></li>
      <li><a href="#" class="tw"><img src="../images/tw.png"></a></li>
    </ul>
  </div>

  <p class="footer__copy">theoddmind &copy; 2019</p>
</footer>