<footer>
  <a href="#"><img src="images/oddmind.png"></a>
  <ul>
    <li><a href="">home</a></li>
    <li><a href="">about</a></li>
    <li><a href="">works</a></li>
    <li><a href="">blog</a></li>
    <li><a href="">contact</a></li>
    <li><a href="">shop</a></li>
  </ul>

  <div class="footer__socials">
    <a href="#"><img src="images/oddmind.png"></a>
    <a href="#"><img src="images/oddmind.png"></a>
    <a href="#"><img src="images/oddmind.png"></a>
    <a href="#"><img src="images/oddmind.png"></a>
  </div>

  <p class="footer__copy">theoddmind &copy; 2019</p>
</footer>