<div class="banner">
  <div class="wrapper">
    <h1>THE ODD MIND</h1>
  </div>
</div>
<!-- Set up your HTML -->
<div class="owl-carousel">
  <div><img src="../images/fro20.jpg"></div>
  <div><img src="../images/lion.jpg"></div>
  <div><img src="../images/mexican-alien.jpg"></div>
  <div><img src="../images/lion.jpg"></div>
  <div><img src="../images/mexican-alien.jpg"></div>
  <div><img src="../images/fro20.jpg"></div>
  <div><img src="../images/mexican-alien.jpg"></div>
  <div><img src="../images/fro20.jpg"></div>
  <div><img src="../images/lion.jpg"></div>
</div>
<div class="home-designs">
  <div class="wrapper">
    <h2>NEW DESIGNS</h2>
    <img src="../images/placeholder-orange.png">
    <img src="../images/placeholder-gray.png">
    <img src="../images/placeholder-orange.png">
    <img src="../images/placeholder-gray.png">
    <img src="../images/placeholder-orange.png">
    <img src="../images/placeholder-gray.png">
    <img src="../images/placeholder-orange.png">
    <img src="../images/placeholder-gray.png">
    <img src="../images/placeholder-orange.png">
    <img src="../images/placeholder-gray.png">
    <img src="../images/placeholder-orange.png">
    <img src="../images/placeholder-gray.png">

    <div class="cta">
      <a href="#">VIEW MORE</a>
    </div>
  </div>
</div>

<div class="get-in-touch">
  <div class="wrapper">
    <h2>HEADER</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    
    <div class="cta">
      <a href="#">get in touch</a>
    </div>
  </div>
</div>