<div class="banner">
  <div class="wrapper">
    <h1>THE ODD MIND</h1>
  </div>
</div>

<div class="home-new">
  <img src="../images/placeholder-orange.jpg">
  <img src="../images/placeholder-gray.jpg">
</div>